---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Romain PIERRE | Portfolio"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>тЪая╕П Site under construction ЁЯЪз</h2>

    <p>
        I'm currently working on my portfolio, please come back later.
    </p>
</BaseLayout>

<style>
    h2 {
        text-align: center;
        color: yellow;
    }

    p {
        text-align: center;
        color: white;
    }
</style>
