---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Romain PIERRE | Portfolio'
---

<BaseLayout pageTitle={pageTitle}>
    <div class="container">
        <div class="profile-pres">
            Hello, my name is
            <h1>Romain PIERRE</h1>
            <p>
                I'm a french engineer student in computer science and I'm currently in my ultimate
                year at ENSEIRB-MATMECA in Bordeaux, France 🇫🇷.
            </p>
            <p>
                I'm always looking for new challenges and as part of my studies I'm currently
                seeking for an internship (6 months, starting in February 2025).
            </p>
        </div>
        <div class="profile-pic">
            <img src="/Portfolio/images/profile-pic.png" alt="Romain PIERRE" />
        </div>
    </div>
    <div class="container">
        <div class="boxes">
            <a href="/Portfolio/about-me/">
                <div class="box">More about me</div>
            </a>
            <a href="/Portfolio/projects/">
                <div class="box">See my projects</div>
            </a>
        </div>
    </div>
</BaseLayout>

<style>
    .container {
        width: 80%;
        margin: 3rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .profile-pres {
        line-height: normal;
        margin-right: 2rem;
        text-align: left;
    }

    .profile-pres h1 {
        font-size: 3em;
        margin-bottom: 1rem;
        color: #64ffda;
        margin-top: 0;
    }

    .profile-pres p {
        font-size: 1.2em;
        line-height: 1.5;
        color: white;
        max-width: 600px;
        margin: 0 auto;
        text-align: justify;
    }

    .profile-pic {
        margin: auto 2rem;
        margin-left: 2rem;
    }

    .profile-pic img {
        width: 15rem;
        border-radius: 50%;
    }

    .profile-pic img:hover {
        transform: scale(1.1);
    }

    .box {
        border: #64ffda 2px solid;
        display: inline-block;
        text-align: center;
        padding: 15px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        margin: 1rem 2rem;
    }

    .boxes a {
        color: #64ffda;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }

    .box:hover {
        transform: translateY(-2px);
    }

    @media (max-width: 830px) {
        .container {
            width: 90%;
            flex-direction: column;
        }

        .profile-pres {
            text-align: center;
        }

        .profile-pres p {
            text-align: center;
        }

        .profile-pic {
            margin-top: 2rem;
        }

        .profile-pic img {
            width: 200px;
        }
    }
</style>
