---
const year = new Date().getFullYear()
---

<footer>
    <p>© {year} All rights reserved</p>
    <p>Made from scratch</p>
</footer>

<style>
    footer {
        background-color: #64ffda;
        color: #032727;
        text-align: center;
        padding: 1rem;
        height: 5rem;
    }

    footer p {
        margin: 0;
    }
</style>
