---
import Navigation from './Navigation.astro'
---

<header>
    <div class="logo">
        <a href="/Portfolio/">
            <img src="/Portfolio/icons/terminal.png" alt="Logo" />
        </a>
    </div>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
    header {
        display: flex;
        flex: 1;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        height: 6.5rem; /* Need to change in global.css too */
    }

    .logo img {
        width: 5rem;
        margin-top: 1rem;
    }

    .logo img:hover {
        transform: rotate(360deg);
        transition: transform 0.5s ease-in-out;
    }

    nav {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
</style>
