---
import ThemeIcon from './ThemeIcon.astro'
---

<div class="navigation">
    <div class="nav-links">
        <ul>
            <li><a href="/Portfolio/">Home</a></li>
            <li><a href="/Portfolio/about_me">About me</a></li>
            <li><a href="/Portfolio/projects">Projects</a></li>
        </ul>
    </div>
    <div class="box">
        <a href="/Portfolio/documents/Romain_PIERRE_CV.pdf" target="_blank">
            Resume/CV
        </a>
    </div>
    <div class="nav-icons">
        <a href="https://github.com/RomainPierre7" target="_blank">
            <img src="/Portfolio/icons/github.png" alt="GitHub" />
        </a>
        <a href="https://www.linkedin.com/in/romainpierre7/" target="_blank">
            <img src="/Portfolio/icons/linkedin.png" alt="LinkedIn" />
        </a>
        <ThemeIcon />
    </div>
</div>
<div class="menu-hamburger">
    <img src="/Portfolio/icons/hamburger-menu.png" alt="menu-hamburger" />
</div>
<div class="menu-cross">
    <img src="/Portfolio/icons/cross-close.png" alt="menu-cross" />
</div>

<style>
    .navigation {
        margin-left: 5em;
        display: flex;
        width: auto;
    }

    .nav-links ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-links a {
        color: white;
        display: inline-block;
        text-align: center;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }

    .nav-links a:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: transparent;
        bottom: 0;
        left: 0;
        transition:
            background-color 0.3s,
            transform 0.3s;
        transform-origin: bottom right;
    }

    .nav-links a:hover:before {
        background-color: #66ffdb;
        transform: scaleX(1);
        transform-origin: bottom left;
        color: #64ffda;
    }

    .nav-links a:hover {
        color: #64ffda;
        transform: translateY(-2px);
    }

    .nav-links ul li a.ongoing {
        color: #64ffda;
    }

    .box {
        border: #64ffda 2px solid;
        display: inline-block;
        text-align: center;
        padding: 15px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        margin-left: 1rem;
    }

    .box a {
        color: #64ffda;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }

    .box:hover {
        transform: translateY(-2px);
    }

    .nav-icons {
        display: flex;
        align-items: center;
    }

    .nav-icons img {
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
        transition: all 0.3s ease;
    }

    .nav-icons img:hover {
        opacity: 0.5;
        transform: scale(1.1);
    }

    .menu-hamburger {
        display: none;
    }

    .menu-cross {
        display: none;
    }

    .menu-hamburger img,
    .menu-cross img {
        width: 3rem;
        height: 3rem;
        transition: all 0.3s ease;
    }

    @media screen and (max-width: 1125px) {
        .navigation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #0a192f;
            height: 100vh;
            margin: 0;
            margin-left: -100%;
            transition: all 0.5s ease;
        }

        .nav-links ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
        }

        .box {
            margin: 2rem 0;
        }

        .menu-hamburger {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 1;
        }

        .navigation.mobile-menu {
            margin-left: 0;
        }

        .menu-hamburger.mobile-menu {
            display: none;
        }

        .menu-cross.mobile-menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 1;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var links = document.querySelectorAll('.nav-links ul li a')

        links.forEach(function (link) {
            if (link.getAttribute('href') === window.location.pathname) {
                link.classList.add('ongoing')
            }
        })
    })
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const hamburger = document.querySelector('.menu-hamburger')
        const cross = document.querySelector('.menu-cross')
        const navigation = document.querySelector('.navigation')

        if (hamburger && cross && navigation) {
            const toggleMobileMenu = () => {
                navigation.classList.toggle('mobile-menu')
                hamburger.classList.toggle('mobile-menu')
                cross.classList.toggle('mobile-menu')
            }

            hamburger.addEventListener('click', toggleMobileMenu)
            cross.addEventListener('click', toggleMobileMenu)
        } else {
            console.error(
                "One of the following elements doesn't exist: hamburger, cross, navigation"
            )
        }
    })
</script>
